body{
    background-color: #EFEAE7;
    margin-left: 137px;
    margin-right: 140px;
}

.main_block{
    margin-top:50px ;
    display: grid; 
    grid-gap: 40px; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
      "main_first main_two"
      "main_first main_three"; 

}

.main_first{
    background-color: #382C39;
    height: 600px;
    width: 800px;
    font-family: "Bebas Neue", sans-serif;
    opacity: 100%;   
    border-radius: 50px;
    position: relative;
    grid-area: main_first;

}
.text_menu{
    display: flex;
    justify-content: space-between;
    height: 17px;
    width: 393px;
    margin-top:32px;
    margin-left: 334px;
    font-size: 15px;
    
}
a{
    color: #EFEAE7;
    text-decoration: none;
    opacity: 70%;
}

section{
    margin-left: 54px;
    margin-top: 60px;
    border-radius: 50px;
    height: 350px;

    
    
}

.about{
    color: #EFEAE7;
    text-decoration: none;
    opacity: 80%;
    top: 15px;
   
}

.back{
    position:absolute;
    left: 0;
    
}

.iphone_handle{
    position: absolute;
    width: 240px;
    right: -30px;
    top: 65px;
    opacity: 70%;
}

.contact{
    position: absolute;
    right: 30px;
    bottom: 30px;
}


.about h1{
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 0%;
    
}

.about h3{
    margin-top: 0;
    margin-bottom: 17px;
    font-size: 40px;

}
.about p{
    font-size:2opx;
    opacity: 60%;
}

.qwe{
    position: absolute;
    height: 145px;
    width: 300px;
    background-color: #EFEAE7;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 50px;
    
}

.main_two{
    background-image: url(img/frame_1.png);
    background-repeat: no-repeat;
    height: 280px;
    width: 320px;
    grid-area: main_two;
    

}

.welcome{
    margin-top: 23px;
    margin-left: 23px;
    border-radius:20px;
    height: 40px;
    width: 140px;
    border-style:#EFEAE7 ;
    font-size: 20px;
    color:#EFEAE7 ;
    background: transparent;
}

.main_two h3{
    color: #EFEAE7;
    margin-top: 115px;
    margin-left: 23px;
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
}

.main_three{
    background-image: url(img/frame_2.png);
    background-repeat: no-repeat;
    height: 280px;
    width: 320px;
    grid-area: main_three; 
    
}

.main_three h3{
    color: #EFEAE7;
    margin-top: 115px;
    margin-left: 23px;
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
}


.second_block{
    margin-top: 60px;
    font-family: "Bebas Neue", sans-serif;
}
.direction div{
    min-height: 195px;
    min-width: 360px;
}

.direction{
    display: flex;
    justify-content: space-between;
    font-family: "Bebas Neue", sans-serif;
}

.second_block button, p{
    height: 40px;
    border-radius: 20px;
    margin-top: 23px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    min-width: 160px;
    color:aliceblue;
    background-color: transparent;

    
}

.programming{
    background-color:#75616A;
    border-radius: 20px;
    text-align: center;

}
.databases{
    background-color:#ABA5A3 ;
    border-radius: 20px;
    text-align: center;
}

.services{
    background-color: #382C39;
    border-radius: 20px;
    text-align: center;
}

h1{
    font-family: "Bebas Neue", sans-serif;
}

.trird_block{
    margin-top: 60px;
}
.btn-div{
    display: flex;
    justify-content:space-between;
}

.btn-ameneties{
    min-width: 160px;
    height: 60px;
    background-color: transparent;
    border-radius: 20px;
    font-family: "Bebas Neue", sans-serif;
    color: black;
    font-size: 20px;
}

.community{
    margin-top: 60px;
    font-family: "Bebas Neue", sans-serif;

}
.team{
    margin: 0%;
    display: flex;
    justify-content:space-between;
    height: auto;
    font-family: "Bebas Neue", sans-serif;
    
}
.section__h2{
    font-size: 40px;
    margin: 0%;
    color: #382C39;
}

.section__p{
    margin-top: 7px;
    margin-bottom: 0%;
    font-size: 20px;
    opacity: 70%;
    color: #382C39;
}
.photo_team{
    height: 209px;
    width: 684px;
}

.contact_div{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}


.form__container {
    margin-top: 40px;
    
  }


.form{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0%;
    width: 650px;
    height: 600px;
    background-color: #272228;
    background-image: url('img/image.png');
    color: white;
    border-radius: 20px;
    font-family: "Bebas Neue", sans-serif;
}

.form h2{
    font-size: 30px;
}

.form__group{
    display: flex;
    flex-direction: column;
}

.form input{
    border: none;
    border-radius: 15px;
    padding: 0 20px;
    outline: none;
    font-size: 18px;
    color: #213053;
    height: 60px;
    outline: none;
 }

 .form form {
    margin-top: 60px;
    display: grid;
    grid-gap: 30px;
    align-items: center;
 }

 .form__submit {
    margin-top: 30px;
    font-size: 18px;
    width: 200px;
    height: 80px;
    background-color: transparent;
    color: white;
    border-radius: 12px;

 }

 button:hover {
    background-color: #6b6868;
    box-shadow: 0 16px 36px rgba(240, 236, 231, 0.2);
    transition: background-color 0.3s ease-in;
 }